.shell {
  padding: 10px 10px;
}

.nowrap {
  white-space: nowrap;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 15px;
}

.searchLabel {
  min-width: 240px;
}

.search {
  background: transparent;
  border: 1px solid var(--line);
  border-radius: 999px;
  height: 28px;
  width: 100%;

  padding: 10px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.35);
    font-weight: 300;
  }
}

.toolbarBtn {
  background: transparent;
  border: 1px solid var(--blue);
  border-radius: 999px;
  cursor: pointer;
  color: var(--blue);
  font-weight: 400;
  font-size: 14px;
  height: 28px;

  padding: 4px 20px;

  &:hover {
    background: rgba(63, 125, 255, 0.18);
    border-color: rgba(63, 125, 255, 0.75);
  }

  &:active {
    transform: translateY(1px);
  }
}

.line {
  display: flex;
  flex-direction: column;
}

.lineTopRow {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 3px;
}

.accountId {
  font-size: 14px;
  color: var(--muted);
}

.statusWrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.regularTextRed {
  color: var(--red);
}

.lossRatioBadge {
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 14px;
}

.lossRatioBadge[data-tone="green"] {
  background-color: var(--green);
}

.lossRatioBadge[data-tone="red"] {
  background-color: var(--red);
}

.lossRatioBadge[data-tone="yellow"] {
  background-color: var(--yellow);
  color: #000;
}

.actionBtn {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
