.row {
  display: flex;
  padding: 20px 35px;
  gap: 15px;

  background-color: var(--card-bg);
  border: 1px solid var(--line);
  border-radius: 16px;

  overflow: auto;
}

.row::-webkit-scrollbar {
  height: 6px;
}
.row::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
}
