.goalCard {
  width: 100%;
}

.header {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #94a3b8;
  margin-bottom: 20px;
}

.barWrapper {
  position: relative;
  height: 30px;
  margin: 28px 0;
}

.segmentedBar {
  position: relative;
  border-radius: 999px;
  overflow: hidden;

  display: flex;
  height: 100%;
  width: 100%;
}

.segment {
  height: 100%;
}

.indicator {
  --c: #3b82f6;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateX(-50%);
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.label {
  font-weight: 400;
  letter-spacing: 0.02em;
  white-space: nowrap;

  position: absolute;
  white-space: nowrap;
  font-size: 10px;
}

.top {
  top: -12px;

  .label {
    top: -14px;
    font-size: 10px;
    color: color-mix(in srgb, #94a3b8 50%, transparent);
  }

  .arrow {
    border-bottom: none;
    border-top: 6px solid var(--blue);
  }
}

.bottom {
  .label {
    top: 8px;
    font-size: 12px;
    color: var(--c);
  }

  .arrow {
    border-top: none;
    border-bottom: 8px solid var(--green);
  }
}

.centerValue {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 12px;
  line-height: 1;
  font-weight: 500;
}

.headerSimple {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #94a3b8;
  margin-bottom: 5px;
}

.simpleWrap {
  width: 100%;
}

.simpleRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.simpleBar {
  position: relative;
  flex: 1;
  height: 27px;
  border-radius: 0 999px 999px 0;
  overflow: hidden;

  background: #313853;
}

.simpleFill {
  height: 100%;
  border-radius: 0 999px 999px 0;
  display: flex;
  align-items: center;
  justify-content: right;
  background: linear-gradient(90deg, #313a59 0%, var(--blue) 100%);
}

.simpleValue {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  padding-right: 7px;
}

.simpleTarget {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
}

.simplePct {
  margin-top: 10px;
  text-align: center;

  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  color: rgba(148, 163, 184, 0.75);
}
